
/* 隐藏源元素 */
.ww-datepicker-hidden-accessible{
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.ww-picker{
    box-sizing: border-box;
    margin: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    padding: 0px 7px 0px;
    position: relative;
    display: inline-flex;
    align-items: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    width: 112px;
    transition: border .3s,box-shadow .3s;
}

.ww-picker .ww-picker-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.ww-picker .ww-picker-input > input{
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 3px 7px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    line-height: 1.66667;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    flex: auto;
    min-width: 1px;
    height: auto;
    padding: 0;
    background: transparent;
    border: 0;
    touch-action: manipulation;
    overflow: visible;
}

.ww-picker-suffix {
    align-self: center;
    margin-left: 2px;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1;
    pointer-events: none;
}

.ww-picker-clear {
    position: absolute;
    top: 50%;
    right: 0;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1;
    background: #fff;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.3s;
}

.ww-picker-clear > *, .ww-picker-suffix > * {
    vertical-align: top;
}

.ww-picker-clear .anticon,
.ww-picker-suffix .anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ww-picker-clear .anticon svg,
.ww-picker-suffix .anticon svg {
    display: inline-block;
    line-height: 1;
}

.ww-picker-input:hover .ww-picker-clear, 
.ww-picker-range:hover .ww-picker-clear {
    opacity: 1;
}


.ww-picker-input > input:focus {
    box-shadow: none;
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
}

.ww-picker-clear:hover {
    color: rgba(0, 0, 0, 0.45);
}

.ww-picker:hover, .ww-picker-focused {
    border-color: #40a9ff !important;
    border-right-width: 1px !important;
}

.ww-picker-focused {
    border-color: #40a9ff !important;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

/* 弹框 */
.ww-picker-dropdown-hidden{
    display: none;
}

.ww-picker-dropdown{
    box-sizing: border-box;
    margin: 0;
    padding: 6.66666667px 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    font-variant: tabular-nums;
    line-height: 1.66667;
    list-style: none;
    font-feature-settings: tnum;
    position: absolute;
    z-index: 1050;
}

.ww-picker-panel-container {
    overflow: hidden;
    vertical-align: top;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    transition: margin 0.3s;
}
.ww-picker-panel {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    outline: none;
}
.ww-picker-panel-container .ww-picker-panel {
    vertical-align: top;
    background: transparent;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.ww-picker-decade-panel, .ww-picker-year-panel, .ww-picker-quarter-panel, .ww-picker-month-panel, .ww-picker-week-panel, .ww-picker-date-panel, .ww-picker-time-panel, .ww-picker-quick-panel {
    display: flex;
    flex-direction: column;
    width: 244px;
}

.ww-picker-decade-panel .ww-picker-content, .ww-picker-year-panel .ww-picker-content, .ww-picker-quarter-panel .ww-picker-content, .ww-picker-month-panel .ww-picker-content, .ww-picker-quick-panel .ww-picker-content {
    height: 192px;
}

.ww-picker-header {
    display: flex;
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #f0f0f0;
}
.ww-picker-header > * {
    flex: none;
}

.ww-picker-header button {
    padding: 0;
    color: rgba(0, 0, 0, 0.25);
    line-height: 32px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.ww-picker-header > button {
    min-width: 1.6em;
    font-size: 12px;
}
.ww-picker-prev-icon, .ww-picker-super-prev-icon {
    transform: rotate(-45deg);
}
.ww-picker-prev-icon, .ww-picker-next-icon, .ww-picker-super-prev-icon, .ww-picker-super-next-icon {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
}
.ww-picker-prev-icon::before, .ww-picker-next-icon::before, .ww-picker-super-prev-icon::before, .ww-picker-super-next-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
    box-sizing: border-box;
}

.ww-picker-super-prev-icon::after, .ww-picker-super-next-icon::after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
    box-sizing: border-box;
}
.ww-picker-next-icon, .ww-picker-super-next-icon {
    transform: rotate(135deg);
}

.ww-picker-header-view {
    flex: auto;
    font-weight: 500;
    line-height: 32px;
}

.ww-picker-header-view button {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
}
.ww-picker-header-view button:hover {
    color: #1890ff;
}
.ww-picker-header > button:not(:disabled):hover {
    color: rgba(0, 0, 0, 0.85);
}

.ww-picker-header > button:disabled {
    cursor: not-allowed;
}

.ww-picker-date-panel .ww-picker-body {
    padding: 4px 8px;
}

.ww-picker-panel-container .ww-picker-panel .ww-picker-content, .ww-picker-panel-container .ww-picker-panel table {
    text-align: center;
}

.ww-picker-date-panel .ww-picker-content {
    width: 224px;
}

.ww-picker-content {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.ww-picker-date-panel .ww-picker-content th {
    width: 32px;
}
.ww-picker-content th, .ww-picker-content td {
    position: relative;
    min-width: 24px;
    font-weight: 400;
    text-align: center;
}

.ww-picker-cell {
    padding: 3px 0;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.ww-picker-cell .ww-picker-cell-inner {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;
    transition: background 0.3s, border 0.3s;
}

.ww-picker-cell::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    height: 22px;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: '';
    box-sizing: border-box;
}

.ww-picker-cell-in-view {
    color: rgba(0, 0, 0, 0.85);
}

.ww-picker-cell-in-view.ww-picker-cell-selected .ww-picker-cell-inner,
.ww-picker-cell-in-view.ww-picker-cell-range-start .ww-picker-cell-inner,
.ww-picker-cell-in-view.ww-picker-cell-range-end .ww-picker-cell-inner {
    color: #fff;
    background: #1890ff;
}

.ww-picker-cell-in-view.ww-picker-cell-today .ww-picker-cell-inner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #1890ff;
    border-radius: 2px;
    content: '';
}
.ww-picker-cell:hover:not(.ww-picker-cell-selected):not(.ww-picker-cell-range-start):not(.ww-picker-cell-range-end):not(.ww-picker-cell-range-hover-start):not(.ww-picker-cell-range-hover-end) .ww-picker-cell-inner {
    background: #f5f5f5;
}


.ww-picker-footer {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 100%;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid transparent;
}
.ww-picker-panel .ww-picker-footer {
    border-top: 1px solid #f0f0f0;
}
.ww-picker-panel .ww-picker-footer.ww-picker-footer-space-between {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.ww-picker-today-btn, .ww-picker-quick-btn {
    color: #1890ff;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    background: transparent;
}

.ww-picker-today-btn:hover, .ww-picker-quick-btn:hover {
    color: #40a9ff;
    text-decoration: none;
    outline: 0;
}

.ww-picker-year-panel .ww-picker-cell-inner, .ww-picker-quarter-panel .ww-picker-cell-inner, .ww-picker-month-panel .ww-picker-cell-inner {
    width: 60px;
}
.ww-picker-decade-panel .ww-picker-cell-inner, .ww-picker-year-panel .ww-picker-cell-inner, .ww-picker-quarter-panel .ww-picker-cell-inner, .ww-picker-month-panel .ww-picker-cell-inner {
    padding: 0 4px;
}
.ww-picker-decade-panel .ww-picker-cell-inner {
    padding: 0 2px;
}
.ww-picker-quick-panel .ww-picker-cell-inner {
    padding: 0 2px;
}

/* 日期范围 */
.ww-picker-range {
    position: relative;
    display: inline-flex;
}
.ww-picker-range-separator {
    align-items: center;
    padding: 0 4px;
    line-height: 1;
}
.ww-picker-separator {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 14px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    vertical-align: top;
    cursor: default;
}

.ww-picker-focused .ww-picker-separator {
    color: rgba(0, 0, 0, 0.45);
}

.ww-picker-range .ww-picker-clear {
    right: 7px;
}

/* 弹框 */
.ww-picker-dropdown-range {
}

.ww-picker-panel-container .ww-picker-panels {
    display: inline-flex;
    flex-wrap: nowrap;
    direction: ltr;
}
.ww-picker-panels .ww-picker-panel:first-child {
    border-right: 1px solid rgba(0, 0, 0, .05);
}

.ww-picker-cell-in-view.ww-picker-cell-range-hover-start:not(.ww-picker-cell-in-range):not(.ww-picker-cell-range-start):not(.ww-picker-cell-range-end)::after, 
.ww-picker-cell-in-view.ww-picker-cell-range-hover-end
:not(.ww-picker-cell-in-range):not(.ww-picker-cell-range-start):not(.ww-picker-cell-range-end)::after, 
.ww-picker-cell-in-view.ww-picker-cell-range-hover-start.ww-picker-cell-range-start-single::after, 
.ww-picker-cell-in-view.ww-picker-cell-range-hover-start.ww-picker-cell-range-start.ww-picker-cell-range-end.ww-picker-cell-range-end-near-hover::after, 
.ww-picker-cell-in-view.ww-picker-cell-range-hover-end.ww-picker-cell-range-start.ww-picker-cell-range-end.ww-picker-cell-range-start-near-hover::after, 
.ww-picker-cell-in-view.ww-picker-cell-range-hover-end.ww-picker-cell-range-end-single::after, 
.ww-picker-cell-in-view.ww-picker-cell-range-hover:not(.ww-picker-cell-in-range)::after{
    position: absolute;
    top: 50%;
    z-index: 0;
    height: 24px;
    border-top: 1px dashed #7ec1ff;
    border-bottom: 1px dashed #7ec1ff;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: '';
}

tr > .ww-picker-cell-in-view.ww-picker-cell-range-hover:last-child::after,
 tr > .ww-picker-cell-in-view.ww-picker-cell-range-hover-start:last-child::after,
  .ww-picker-cell-in-view.ww-picker-cell-end.ww-picker-cell-range-hover-edge-end.ww-picker-cell-range-hover-edge-end-near-range::after,
   .ww-picker-cell-in-view.ww-picker-cell-range-hover-edge-end:not(.ww-picker-cell-range-hover-edge-end-near-range)::after,
    .ww-picker-cell-in-view.ww-picker-cell-range-hover-end::after{
    right: 6px;
    border-right: 1px dashed #7ec1ff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
tr > .ww-picker-cell-in-view.ww-picker-cell-range-hover:first-child::after,
 tr > .ww-picker-cell-in-view.ww-picker-cell-range-hover-end:first-child::after,
 .ww-picker-cell-in-view.ww-picker-cell-start.ww-picker-cell-range-hover-edge-start.ww-picker-cell-range-hover-edge-start-near-range::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-edge-start:not(.ww-picker-cell-range-hover-edge-start-near-range)::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-start::after {
    left: 6px;
    border-left: 1px dashed #7ec1ff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ww-picker-cell-in-view.ww-picker-cell-range-hover-start:not(.ww-picker-cell-in-range):not(.ww-picker-cell-range-start):not(.ww-picker-cell-range-end)::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-end:not(.ww-picker-cell-in-range):not(.ww-picker-cell-range-start):not(.ww-picker-cell-range-end)::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-start.ww-picker-cell-range-start-single::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-start.ww-picker-cell-range-start.ww-picker-cell-range-end.ww-picker-cell-range-end-near-hover::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-end.ww-picker-cell-range-start.ww-picker-cell-range-end.ww-picker-cell-range-start-near-hover::after,
 .ww-picker-cell-in-view.ww-picker-cell-range-hover-end.ww-picker-cell-range-end-single::after, 
 .ww-picker-cell-in-view.ww-picker-cell-range-hover:not(.ww-picker-cell-in-range)::after {
    position: absolute;
    top: 50%;
    z-index: 0;
    height: 24px;
    border-top: 1px dashed #7ec1ff;
    border-bottom: 1px dashed #7ec1ff;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: '';
}


.ww-picker-cell-in-view.ww-picker-cell-range-start:not(.ww-picker-cell-range-start-single):not(.ww-picker-cell-range-end) .ww-picker-cell-inner {
    border-radius: 2px 0 0 2px;
}
.ww-picker-cell-in-view.ww-picker-cell-selected .ww-picker-cell-inner
 .ww-picker-cell-in-view.ww-picker-cell-range-start .ww-picker-cell-inner
 .ww-picker-cell-in-view.ww-picker-cell-range-end .ww-picker-cell-inner {
    color: #fff;
    background: #1890ff;
}

.ww-picker-cell-in-view.ww-picker-cell-in-range {
    position: relative;
}
.ww-picker-cell-in-view.ww-picker-cell-in-range::before {
    background: #e6f7ff;
}
.ww-picker-cell-in-view.ww-picker-cell-range-start:not(.ww-picker-cell-range-start-single)::before
 .ww-picker-cell-in-view.ww-picker-cell-range-end:not(.ww-picker-cell-range-end-single)::before {
    background: #e6f7ff;
}
.ww-picker-cell-in-view.ww-picker-cell-range-end::before {
    right: 50%;
}
.ww-picker-cell-in-view.ww-picker-cell-range-end:not(.ww-picker-cell-range-end-single):not(.ww-picker-cell-range-start) .ww-picker-cell-inner {
    border-radius: 0 2px 2px 0;
}

.ww-picker-cell-in-view.ww-picker-cell-selected .ww-picker-cell-inner
 .ww-picker-cell-in-view.ww-picker-cell-range-start .ww-picker-cell-inner
 .ww-picker-cell-in-view.ww-picker-cell-range-end .ww-picker-cell-inner {
    color: #fff;
    background: #1890ff;
}

.ww-picker-cell-in-view.ww-picker-cell-range-start:not(.ww-picker-cell-range-start-single)::before, 
.ww-picker-cell-in-view.ww-picker-cell-range-end:not(.ww-picker-cell-range-end-single)::before {
    background: #e6f7ff;
}
.ww-picker-cell-in-view.ww-picker-cell-range-start::before {
    left: 50%;
}


.ww-picker-cell-range-hover-start::after, .ww-picker-cell-range-hover-end::after, .ww-picker-cell-range-hover::after {
    right: 0;
    left: 2px;
}


/* 弹框选择 */
